{% extends 'base.html.twig' %}

{% block title %}Wszystkie Psy{% endblock %}

{% block body %}
<div class=" flex flex-col items-center mt-10">
    <div class="text-3xl mb-4 text-gray-600">Psy do adopcji</div>
    <div class="grid grid-cols-1 gap-2 sm:gap-4 sm:grid-cols-3 md:grid-cols-4 md:gap-6 lg:grid-cols-5 lg:gap-8 ">
        {% for dog in dogs %}
            <div class="flex flex-col items-center text-center"><a href="{{path('app_dog_show',{id:dog.id})}}">
                <div>{{ include('dog/_dog_image.html.twig',{'width':80,'height':60,dog:dog})}}</div>
                <div class="text-xl text-gray-600 font-semibold">{{ dog.Name }}</div>
            </a></div>
        {% endfor %}
    </div>
</div>
{% endblock %}