{% extends 'base.html.twig' %}

{% block title %}Edytuj Psa{% endblock %}

{% block body %}
    <div class = "flex-col justify-center w-1/3 mx-auto text-center mt-10 shadow-xl">
        <div class="mb-2 text-xl">Edytuj Psa</div>
        <div>{{ include('dog/_form.html.twig', {'button_label': 'Aktualizuj'}) }}</div>
        <a href="{{ path('app_dog_index') }}"><div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white" >Lista Psów</div></a>
        <a href="{{ path('app_dog_show',{id:dog.id})}}"><div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white" >Podgląd</div></a>
        <div>{{ include('dog/_delete_form.html.twig') }}</div>
    </div>
{% endblock %}
