{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
<div class="flex-col text-center mt-10 w-9/12 border-1 shadow-xl mx-auto px-2"> 
    <div class="mb-2 text-xl  ">Utwórz Nowy Post</div>
    {{ include('post/_form.html.twig') }}

    <a href="{{ path('app_post_index') }}"><div class="border-x-2 w-4/12 mx-auto border-b-2 bg-yellow-500 hover:bg-yellow-400 text-white">Wszystkie Posty</div></a>
</div>
{% endblock %}
