{% extends 'base.html.twig' %}

{% block title %}Zmień Hasło{% endblock %}

{% block body %}
    {{ form_start(form)}}
        {{form_widget(form)}}
        <button class="btn">Save</button>
    {{ form_end(form)}}
    
{% endblock %}