{% extends 'base.html.twig' %}

{% block title %}Nowy Użytkownik{% endblock %}

{% block body %}
    <div class = "flex-col justify-center w-1/3 mx-auto text-center mt-10 shadow-xl">
        <div class="mb-2 text-xl">Dodaj Nowego Użytkownika</div>
        <div class="">{{ include('user/_form.html.twig') }}</div>
        <div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white"><a href="{{ path('app_user_index') }}">Lista Użytkowników</a></div>
    </div>
{% endblock %}
