{% extends 'base.html.twig' %}

{% block title %}Edit Status{% endblock %}


{% block body %}
    <div class = "flex-col text-center mt-10 w-[400px] border-1 shadow-xl mx-auto px-2 min-w-[300px]">
        <div class="mb-2 text-xl">Edytuj Status</div>
        <div>{{ include('status/_form.html.twig', {'button_label': 'Aktualizuj'}) }}</div>
        <a href="{{ path('app_status_index') }}"><div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white" >Lista Statusów</div></a>
        <a href="{{ path('app_status_show',{id:status.id})}}"><div class="border-2 bg-yellow-500 w-full hover:bg-yellow-400 text-white" >Podgląd</div></a>
        <div>{{ include('status/_delete_form.html.twig') }}</div>
    </div>
{% endblock %}


    

