{% extends 'base.html.twig' %}

{% block title %}Nazwa Schroniska{% endblock %}

{% block body %}

<div id="miejsce na slajder " class="w-full h-10"></div>
<div id="miejsce na posty" class="w-full  border-t-4 border-gray-600">
    <div class="text-2xl text-center">Posty</div>
<div>
{% endblock %}
