{% extends 'base.html.twig' %}

{% block title %}Nazwa Schroniska{% endblock %}
{% block head %}


{% endblock %}
{% block body %}
    <section>
        <div class="flex">
            <div class="w-2/12 flex items-center">
                <div class="w-full text-right">
                    <button class="p-3 rounded-full bg-white border border-gray-700 shadow-lg mr-5"
                            onclick = "prev()">
                        <i class="fa-solid fa-arrow-left"></i>
                                            
                    </button>
                </div>
            </div>
            <div id="sliderContainer" class="w-10/12 overflow-hidden">
                <ul id="slider" class="flex w-full border  ">
                    {% for dog in dogs %}
                        {% if dog.image %}
                            <li class="w-96px p-2 h-full ml-0 mr-0">
                                <div class="border rounded-lg p-5">
                                    <img class="h-50 w-50 w-full object-cover rounded-md " src="{{dogimages~dog.image}}" />
                                    <h2 class="mt-2 text-2xl font-bold text-gray-700"> {{dog.name}}</h2>
                                    <button class="mt-4 px-6 py-3 rounded-md bg-green-600 font-bold text-white">Read More</button>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="w-2/12 flex items-center">
                <div class="w-full">
                    <button class="p-3 rounded-full bg-white border border-gray-700 shadow-lg ml-5"
                            onclick="next()">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
{% block javascripts %}
    <script>
        let sliderContainer = document.getElementById('sliderContainer');
        let slider = document.getElementById('slider');
        let cards = slider.getElementsByTagName('li');
        let elementsToShow = 3;
        if(document.body.clientWidth<1000)
        {
            elementsToShow = 1;
        }
        else if(document.body.clientWidth<1500)
        {
            elementsToShow = 3; 
        }
        else
        {
            elementsToShow = 4;
        }
        let sliderContainerWidth = sliderContainer.clientWidth;
        let cardWidth = sliderContainerWidth/elementsToShow;

        slider.style.width = cards.length*cardWidth+'px';
        slider.style.transition='margin';
        slider.style.transitionDuration='1s';
        for(let index = 0; index < cards.length; index++)
        {
            const element = cards[index];
            element.style.width = cardWidth+"px";
        }

        function next()
        {
            if(+slider.style.marginLeft.slice(0,-2)!=-cardWidth*(cards.length-elementsToShow))
            slider.style.marginLeft = ((+slider.style.marginLeft.slice(0,-2))-cardWidth)+'px';
        }
        function prev()
        {
            if(+slider.style.marginLeft.slice(0,-2)!=0)
            slider.style.marginLeft = ((+slider.style.marginLeft.slice(0,-2))+cardWidth)+'px';
        }

    </script>
{% endblock %}




{% endblock %} 